.scroll-row {
    overflow: scroll;
}

#show-more {
    margin-bottom: 100px;
}

.mastfoot {
    margin-top: 100px;
}

.caption{
    height: 200px;
}

.text-black {
    color: black;
}

.breadcrumb {
    background-color: transparent;
}
