.scroll-row {
    overflow: auto;
    height: 400px;
    padding: 0 5px;
}

#show-more {
    margin-bottom: 100px;
}

.mastfoot {
    margin-top: 100px;
}

.caption{
    height: 200px;
}

.text-black {
    color: black;
}

.text-blue {
    color: #337ab7;
}


.breadcrumb {
    background-color: transparent;
}

.thumbnail {
    min-height: 400px;
}