.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.voffset-bottom  { margin-bottom: 2px; }
.voffset1-bottom { margin-bottom: 5px; }
.voffset2-bottom { margin-bottom: 10px; }
.voffset3-bottom { margin-bottom: 15px; }
.voffset4-bottom { margin-bottom: 30px; }
.voffset5-bottom { margin-bottom: 40px; }
.voffset6-bottom { margin-bottom: 60px; }
.voffset7-bottom { margin-bottom: 80px; }
.voffset8-bottom { margin-bottom: 100px; }
.voffset9-bottom { margin-bottom: 150px; }
/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.item-box-inside {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFF;
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #515151;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-color: #515151;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: #515151;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: #E74C3C;
    border-top-style: solid;
    border-top-width: 3px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    box-sizing: border-box;
    color: #515151;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.283333px;
    line-height: 20px;
    margin-bottom: 40px;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-propertybox-shadowtransition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    min-height: 200px;
}

.text-black {
    color: black;
}

.text-blue {
    color: #337ab7;
}






