<div class="row voffset9 voffset9-bottom scroll-row" ng-controller="HomepageController">
    <div class="inner cover">
        <h1 class="cover-heading">hassle free tool rental</h1>
        <p class="lead">Love your neighbour and rely on each other on tool sharing</p>
        <div class="inner">
            <h3>How it works</h3>
            <div class="panel-group" id="accordion">
                <div class="panel panel-info" id="panel1">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Choose to be a lender <span class="glyphicon glyphicon-collapse-down"></span>
                            </div>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body text-black">
                            Upload your item for sharing with your neighbours
                        </div>
                    </div>
                </div>
                <div class="panel panel-info" id="panel2">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <div data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Choose to be a borrower <span class="glyphicon glyphicon-collapse-down"></span>
                            </div>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body text-black">
                            Browse through all the items available in your neighbourhood</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>