<div class="inner cover voffset9" ng-controller="ItemListCtrl">

    <h1 class="cover-heading voffset4-bottom">browse tools</h1>


    <div>
        <div class="voffset3">Search: <input ng-model="searchText" class="text-black"></div>

        <div class="row voffset3 well well-lg"
             infinite-scroll="loadMore()" infinite-scroll-disabled="loadBusy || !haveMore" infinite-scroll-distance='1'>

            <div class="col-sm-6 col-md-4" ng-repeat="item in items | filter:searchText">
                <div class="thumbnail">
                    <a ui-sref="items-detail({itemId: item.id})">
                        <img class="image-thumbnail img-responsive" ng-src = "{{serviceHostApiUrl}}image/{{item.imageUuids[0]}}" >
                    </a>
                    <div class="caption scroll-row">
                        <h3  class="">{{item.itemName}}</h3>
                        <p>{{item.itemDescription}}</p>
                        <p><a ui-sref="items-detail({itemId: item.id})" class="btn btn-primary" role="button">View Detail</a></p>
                    </div>
                </div>
            </div>
        </div>

        <h4><span class="label label-default" ng-show="loadBusy" ng-cloak>{{loadMoreText}}</span></h4>

        </div>
    </div>
</div>


