<div class="inner cover voffset9" ng-controller="ItemListCtrl">

    <h1 class="cover-heading">browse tools</h1>

    <br /><br />
    <div>
        Search: <input ng-model="searchText" class="text-black">

        <br /><br />
        <div class="row scroll-row" ng-show="items.length>0" ng-cloak>
            <div class="col-sm-6 col-md-4" ng-repeat="item in items | filter:searchText">
                <div class="thumbnail">
                    <a href="#/item/{{item.id}}">
                        <img class="image-thumbnail img-responsive" ng-src = "https://ec2-54-173-114-114.compute-1.amazonaws.com/api/image/{{item.imageUuids[0]}}" >
                    </a>
                    <div class="caption scroll-row">
                        <h3  class="">{{item.itemName}}</h3>
                        <p>{{item.itemDescription}}</p>
                        <p><a href="#/item/{{item.id}}" class="btn btn-primary" role="button">View Detail</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid voffset5"><button class="btn btn-lg btn-primary" id="show-more" href="#" ng-click="loadMore()">{{loadMoreText}}</button></div>
    </div>
</div>


