<div class="inner cover voffset9">
    <div class="row">
    <ol class="breadcrumb breadcrumb-pr pull-left transparent-background">
        <li><a href="#item">Borrow</a></li>
        <li class="active">Detail</li>
    </ol>
    </div>

    <h1 class="cover-heading">The tool detail</h1>

    <br/>


    <div class="row thumbnail" ng-controller="ItemListCtrl">
        <div>
            <a href="#/item/{{item.id}}">
                <img class="image-thumbnail img-responsive"
                     ng-src="https://ec2-54-173-114-114.compute-1.amazonaws.com/api/image/{{item.imageUuids[0]}}">
            </a>
        </div>

        <div class="panel panel-primary voffset4">
            <div class="panel-heading">
                <h3 class="panel-title">Name</h3>
            </div>
            <div class="panel-body text-black">
                {{item.itemName}}
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">Description</h3>
            </div>
            <div class="panel-body text-black">
                {{item.itemDescription}}
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">Price/Hour (USD$)</h3>
            </div>
            <div class="panel-body text-black">
                {{ (item.price.amount.amount/100 | currency:"$") || "N/A" }}
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">Rental period</h3>
            </div>
            <div class="panel-body text-black">
                {{item.rentalPeriod.lowerEndpoint | date:'MM/dd/yyyy @ h:mma'}} -
                {{item.rentalPeriod.upperEndpoint | date:'MM/dd/yyyy @ h:mma'}}
            </div>

        </div>
    </div>
</div>


