<div class="inner cover" ng-controller = "ProfileController">
    <div ng-show="!currentUser" ng-cloak class="panel panel-info">
        <div class="panel-body text-black">
            Please login before you upload any item! <a ui-sref="login" ng-click="tab=4">Login</a></li>
        </div>
    </div>

    <div ng-show="currentUser" ng-cloak>

        <ul class="nav nav-tabs voffset4-bottom" ng-click="tabChange($event)">
            <li role="presentation" ng-class="{'active':tabSelected=='#tab1'}"><a href='#tab1' >Profile</a></li>
            <li role="presentation" ng-class="{'active':tabSelected=='#tab2'}"><a href='#tab2'>Password</a></li>
            <li role="presentation"  ng-class="{'active':tabSelected=='#tab3'}"><a href='#tab3'>Payment</a></li>
        </ul>

        <!-- profile tab -->
        <div id="tab1" class="ng-hide" ng-show="tabSelected=='#tab1'">
            <form novalidate class="form-horizontal" name="profileForm">
                <div ng-show="profileUpdateSuccess" ng-cloak class="alert alert-success alert-dismissible" role="alert">Your profile has been uploaded!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="panel panel-info">


                        <!-- basic info-->
                        <div class="panel-heading">Basic profile</div>
                        <div class="panel-body text-black">
                                <div class="form-group required">
                                    <label for="email" class="col-sm-3 control-label">E-mail: </label>
                                    <div class="col-sm-9">
                                        <input id="email" name="email" type="text" ng-model="profile.email" placeholder="Email" class="input-xlarge form-control" required>
                                        <p class="help-block"></p>
                                    </div>
                                </div>

                                <div class="form-group required">
                                    <label for="username" class="col-sm-3 control-label">Username: </label>
                                    <div class="col-sm-9">
                                        <input id="username" name="username" type="text" ng-model="profile.username" placeholder="username" class="input-xlarge form-control" required>
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label for="photo" class="col-sm-3 control-label">Profile photo: </label>
                                    <div class="col-sm-9">
                                        <input type="file" id="photo" name="photo" ng-model="profile.photo" file-model="profile.photo" class="input-xlarge form-control" accept="image/*"  valid-file required>
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                        </div>

                        <!-- Address form -->
                        <div class="panel-heading">Contact Information</div>
                        <div class="panel-body text-black">
                            <div class="form-group required">
                                <label for="full-name" class="col-sm-3 control-label">Full name: </label>
                                <div class="col-sm-9">
                                    <input id="full-name" name="full-name" type="text" ng-model="profile.fullName"
                                           placeholder="full name" class="input-xlarge form-control" required>
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label for="phone-number" class="col-sm-3 control-label">Phone number: </label>
                                <div class="col-sm-9">
                                    <input id="phone-number" name="photo-number" type="text" ng-model="profile.phoneNumber"
                                           placeholder="phone number" class="input-xlarge form-control" required>
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <hr class="divider"/>

                            <div class="form-group required">
                                <label for="address-line1" class="col-sm-3 control-label">Address Line 1: </label>
                                <div class="col-sm-9">
                                    <input id="address-line1" name="address-line1" type="text" ng-model="profile.userAddress.addressLine1"
                                           placeholder="address line 1" class="input-xlarge form-control" required>

                                    <p class="help-block">Street address, P.O. box, company name, c/o</p>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="address-line2" class="col-sm-3 control-label">Address Line 2: </label>
                                <div class="col-sm-9">
                                    <input id="address-line2" name="address-line2" type="text" ng-model="profile.userAddress.addressLine2"
                                           placeholder="optional address line 2" class="input-xlarge form-control">

                                    <p class="help-block">Apartment, suite , unit, building, floor, etc.</p>


                                </div>
                            </div>

                            <div class="form-group required">
                                <label for="city" class="col-sm-3 control-label">City: </label>
                                <div class="col-sm-9">
                                    <input id="city" name="city" type="text" ng-model="profile.userAddress.city" placeholder="city"
                                           class="input-xlarge form-control"  required>
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label for="state" class="col-sm-3 control-label">State: </label>
                                <div class="col-sm-9">
                                    <input id="state" name="state" type="text" ng-model="profile.userAddress.state" placeholder="state"
                                           class="input-xlarge form-control"  required>
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label for="zip-code" class="col-sm-3 control-label">Zip: </label>
                                <div class="col-sm-9">
                                    <input id="zip-code" name="zip-code" type="text" ng-model="profile.userAddress.zipCode" placeholder="zip code"
                                           class="input-xlarge form-control"  required>
                                    <p class="help-block"></p>
                                </div>
                            </div>



                            <div class="form-group required">
                                <label for="country" class="col-sm-3 control-label">Country: </label>
                                <div class="col-sm-9">
                                    <select id="country" name="country" class="input-xlarge form-control" ng-model="profile.userAddress.countryCode"  required>
                            <option value="" selected="selected">(please select a country)</option>
                            <option value="AF">Afghanistan</option>
                            <option value="AL">Albania</option>
                            <option value="DZ">Algeria</option>
                            <option value="AS">American Samoa</option>
                            <option value="AD">Andorra</option>
                            <option value="AO">Angola</option>
                            <option value="AI">Anguilla</option>
                            <option value="AQ">Antarctica</option>
                            <option value="AG">Antigua and Barbuda</option>
                            <option value="AR">Argentina</option>
                            <option value="AM">Armenia</option>
                            <option value="AW">Aruba</option>
                            <option value="AU">Australia</option>
                            <option value="AT">Austria</option>
                            <option value="AZ">Azerbaijan</option>
                            <option value="BS">Bahamas</option>
                            <option value="BH">Bahrain</option>
                            <option value="BD">Bangladesh</option>
                            <option value="BB">Barbados</option>
                            <option value="BY">Belarus</option>
                            <option value="BE">Belgium</option>
                            <option value="BZ">Belize</option>
                            <option value="BJ">Benin</option>
                            <option value="BM">Bermuda</option>
                            <option value="BT">Bhutan</option>
                            <option value="BO">Bolivia</option>
                            <option value="BA">Bosnia and Herzegowina</option>
                            <option value="BW">Botswana</option>
                            <option value="BV">Bouvet Island</option>
                            <option value="BR">Brazil</option>
                            <option value="IO">British Indian Ocean Territory</option>
                            <option value="BN">Brunei Darussalam</option>
                            <option value="BG">Bulgaria</option>
                            <option value="BF">Burkina Faso</option>
                            <option value="BI">Burundi</option>
                            <option value="KH">Cambodia</option>
                            <option value="CM">Cameroon</option>
                            <option value="CA">Canada</option>
                            <option value="CV">Cape Verde</option>
                            <option value="KY">Cayman Islands</option>
                            <option value="CF">Central African Republic</option>
                            <option value="TD">Chad</option>
                            <option value="CL">Chile</option>
                            <option value="CN">China</option>
                            <option value="CX">Christmas Island</option>
                            <option value="CC">Cocos (Keeling) Islands</option>
                            <option value="CO">Colombia</option>
                            <option value="KM">Comoros</option>
                            <option value="CG">Congo</option>
                            <option value="CD">Congo, the Democratic Republic of the</option>
                            <option value="CK">Cook Islands</option>
                            <option value="CR">Costa Rica</option>
                            <option value="CI">Cote d'Ivoire</option>
                            <option value="HR">Croatia (Hrvatska)</option>
                            <option value="CU">Cuba</option>
                            <option value="CY">Cyprus</option>
                            <option value="CZ">Czech Republic</option>
                            <option value="DK">Denmark</option>
                            <option value="DJ">Djibouti</option>
                            <option value="DM">Dominica</option>
                            <option value="DO">Dominican Republic</option>
                            <option value="TP">East Timor</option>
                            <option value="EC">Ecuador</option>
                            <option value="EG">Egypt</option>
                            <option value="SV">El Salvador</option>
                            <option value="GQ">Equatorial Guinea</option>
                            <option value="ER">Eritrea</option>
                            <option value="EE">Estonia</option>
                            <option value="ET">Ethiopia</option>
                            <option value="FK">Falkland Islands (Malvinas)</option>
                            <option value="FO">Faroe Islands</option>
                            <option value="FJ">Fiji</option>
                            <option value="FI">Finland</option>
                            <option value="FR">France</option>
                            <option value="FX">France, Metropolitan</option>
                            <option value="GF">French Guiana</option>
                            <option value="PF">French Polynesia</option>
                            <option value="TF">French Southern Territories</option>
                            <option value="GA">Gabon</option>
                            <option value="GM">Gambia</option>
                            <option value="GE">Georgia</option>
                            <option value="DE">Germany</option>
                            <option value="GH">Ghana</option>
                            <option value="GI">Gibraltar</option>
                            <option value="GR">Greece</option>
                            <option value="GL">Greenland</option>
                            <option value="GD">Grenada</option>
                            <option value="GP">Guadeloupe</option>
                            <option value="GU">Guam</option>
                            <option value="GT">Guatemala</option>
                            <option value="GN">Guinea</option>
                            <option value="GW">Guinea-Bissau</option>
                            <option value="GY">Guyana</option>
                            <option value="HT">Haiti</option>
                            <option value="HM">Heard and Mc Donald Islands</option>
                            <option value="VA">Holy See (Vatican City State)</option>
                            <option value="HN">Honduras</option>
                            <option value="HK">Hong Kong</option>
                            <option value="HU">Hungary</option>
                            <option value="IS">Iceland</option>
                            <option value="IN">India</option>
                            <option value="ID">Indonesia</option>
                            <option value="IR">Iran (Islamic Republic of)</option>
                            <option value="IQ">Iraq</option>
                            <option value="IE">Ireland</option>
                            <option value="IL">Israel</option>
                            <option value="IT">Italy</option>
                            <option value="JM">Jamaica</option>
                            <option value="JP">Japan</option>
                            <option value="JO">Jordan</option>
                            <option value="KZ">Kazakhstan</option>
                            <option value="KE">Kenya</option>
                            <option value="KI">Kiribati</option>
                            <option value="KP">Korea, Democratic People's Republic of</option>
                            <option value="KR">Korea, Republic of</option>
                            <option value="KW">Kuwait</option>
                            <option value="KG">Kyrgyzstan</option>
                            <option value="LA">Lao People's Democratic Republic</option>
                            <option value="LV">Latvia</option>
                            <option value="LB">Lebanon</option>
                            <option value="LS">Lesotho</option>
                            <option value="LR">Liberia</option>
                            <option value="LY">Libyan Arab Jamahiriya</option>
                            <option value="LI">Liechtenstein</option>
                            <option value="LT">Lithuania</option>
                            <option value="LU">Luxembourg</option>
                            <option value="MO">Macau</option>
                            <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                            <option value="MG">Madagascar</option>
                            <option value="MW">Malawi</option>
                            <option value="MY">Malaysia</option>
                            <option value="MV">Maldives</option>
                            <option value="ML">Mali</option>
                            <option value="MT">Malta</option>
                            <option value="MH">Marshall Islands</option>
                            <option value="MQ">Martinique</option>
                            <option value="MR">Mauritania</option>
                            <option value="MU">Mauritius</option>
                            <option value="YT">Mayotte</option>
                            <option value="MX">Mexico</option>
                            <option value="FM">Micronesia, Federated States of</option>
                            <option value="MD">Moldova, Republic of</option>
                            <option value="MC">Monaco</option>
                            <option value="MN">Mongolia</option>
                            <option value="MS">Montserrat</option>
                            <option value="MA">Morocco</option>
                            <option value="MZ">Mozambique</option>
                            <option value="MM">Myanmar</option>
                            <option value="NA">Namibia</option>
                            <option value="NR">Nauru</option>
                            <option value="NP">Nepal</option>
                            <option value="NL">Netherlands</option>
                            <option value="AN">Netherlands Antilles</option>
                            <option value="NC">New Caledonia</option>
                            <option value="NZ">New Zealand</option>
                            <option value="NI">Nicaragua</option>
                            <option value="NE">Niger</option>
                            <option value="NG">Nigeria</option>
                            <option value="NU">Niue</option>
                            <option value="NF">Norfolk Island</option>
                            <option value="MP">Northern Mariana Islands</option>
                            <option value="NO">Norway</option>
                            <option value="OM">Oman</option>
                            <option value="PK">Pakistan</option>
                            <option value="PW">Palau</option>
                            <option value="PA">Panama</option>
                            <option value="PG">Papua New Guinea</option>
                            <option value="PY">Paraguay</option>
                            <option value="PE">Peru</option>
                            <option value="PH">Philippines</option>
                            <option value="PN">Pitcairn</option>
                            <option value="PL">Poland</option>
                            <option value="PT">Portugal</option>
                            <option value="PR">Puerto Rico</option>
                            <option value="QA">Qatar</option>
                            <option value="RE">Reunion</option>
                            <option value="RO">Romania</option>
                            <option value="RU">Russian Federation</option>
                            <option value="RW">Rwanda</option>
                            <option value="KN">Saint Kitts and Nevis</option>
                            <option value="LC">Saint LUCIA</option>
                            <option value="VC">Saint Vincent and the Grenadines</option>
                            <option value="WS">Samoa</option>
                            <option value="SM">San Marino</option>
                            <option value="ST">Sao Tome and Principe</option>
                            <option value="SA">Saudi Arabia</option>
                            <option value="SN">Senegal</option>
                            <option value="SC">Seychelles</option>
                            <option value="SL">Sierra Leone</option>
                            <option value="SG">Singapore</option>
                            <option value="SK">Slovakia (Slovak Republic)</option>
                            <option value="SI">Slovenia</option>
                            <option value="SB">Solomon Islands</option>
                            <option value="SO">Somalia</option>
                            <option value="ZA">South Africa</option>
                            <option value="GS">South Georgia and the South Sandwich Islands</option>
                            <option value="ES">Spain</option>
                            <option value="LK">Sri Lanka</option>
                            <option value="SH">St. Helena</option>
                            <option value="PM">St. Pierre and Miquelon</option>
                            <option value="SD">Sudan</option>
                            <option value="SR">Suriname</option>
                            <option value="SJ">Svalbard and Jan Mayen Islands</option>
                            <option value="SZ">Swaziland</option>
                            <option value="SE">Sweden</option>
                            <option value="CH">Switzerland</option>
                            <option value="SY">Syrian Arab Republic</option>
                            <option value="TW">Taiwan, Province of China</option>
                            <option value="TJ">Tajikistan</option>
                            <option value="TZ">Tanzania, United Republic of</option>
                            <option value="TH">Thailand</option>
                            <option value="TG">Togo</option>
                            <option value="TK">Tokelau</option>
                            <option value="TO">Tonga</option>
                            <option value="TT">Trinidad and Tobago</option>
                            <option value="TN">Tunisia</option>
                            <option value="TR">Turkey</option>
                            <option value="TM">Turkmenistan</option>
                            <option value="TC">Turks and Caicos Islands</option>
                            <option value="TV">Tuvalu</option>
                            <option value="UG">Uganda</option>
                            <option value="UA">Ukraine</option>
                            <option value="AE">United Arab Emirates</option>
                            <option value="GB">United Kingdom</option>
                            <option value="US">United States</option>
                            <option value="UM">United States Minor Outlying Islands</option>
                            <option value="UY">Uruguay</option>
                            <option value="UZ">Uzbekistan</option>
                            <option value="VU">Vanuatu</option>
                            <option value="VE">Venezuela</option>
                            <option value="VN">Viet Nam</option>
                            <option value="VG">Virgin Islands (British)</option>
                            <option value="VI">Virgin Islands (U.S.)</option>
                            <option value="WF">Wallis and Futuna Islands</option>
                            <option value="EH">Western Sahara</option>
                            <option value="YE">Yemen</option>
                            <option value="YU">Yugoslavia</option>
                            <option value="ZM">Zambia</option>
                            <option value="ZW">Zimbabwe</option>
                            </select>
                                </div>
                            </div>

                        </div>

                        <div>
                            <label class="text-black">Please fill in all fields with asterisk before submitting</label>
                        </div>

                        <div class="panel-footer">
                            <input class="btn btn-primary" type="button" ng-click="reset()" value="Reset"/>
                            <button class="btn btn-primary" type="submit" ng-click="updateProfile(profile)"
                                   value="Save" ng-disabled="profileForm.$invalid || profileUpdating">Save</button>
                        </div>

                    </div>
            </form>

        </div>

        <!-- password tab -->
        <div id="tab2" class="ng-hide" ng-show="tabSelected=='#tab2'">
            <div class="panel panel-info">

                <div ng-show="passwordUpdateSuccess" ng-cloak class="alert alert-success alert-dismissible" role="alert">Your profile has been uploaded!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <!-- basic info-->
                <div class="panel-heading">Change password</div>
                <div class="panel-body text-black">
                    <form class="form-horizontal" name="passwordForm" novalidate>
                        <div class="form-group required">
                            <label for="old-password" class="col-sm-4 control-label">Current password: </label>
                            <div class="col-sm-8">
                                <input id="old-password" name="oldPassword" type="password" placeholder="current password"
                                       class="input-xlarge form-control" ng-model="password.oldPassword" required>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="new-password" class="col-sm-4 control-label">New password: </label>
                            <div class="col-sm-8">
                                <input id="new-password" name="newPassword" type="password" placeholder="new password"
                                       class="input-xlarge form-control" ng-model="password.newPassword" required="">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="confirm-password" class="col-sm-4 control-label">Verify new password: </label>
                            <div class="col-sm-8">
                                <input id="confirm-password" name="confirmPassword" type="password" placeholder="verify new password"
                                       class="input-xlarge form-control" ng-model="password.confirmPassword" compare-to="password.newPassword" required>
                                <div ng-show="passwordForm.confirmPassword.$error.compareTo" class="help-block">
                                    Must match the previous entry
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <input class="btn btn-primary" type="button" ng-click="reset(password)" value="Reset"/>
                            <input class="btn btn-primary" type="submit" ng-click="updatePassword(password)" value="Save"
                                   ng-disabled="passwordForm.$invalid || passwordUpdating" />
                        </div>
                    </form>
                </div>


            </div>
        </div>

        <!-- payment tab -->
        <div id="tab3" class="ng-hide" ng-show="tabSelected=='#tab3'">Update your payment information. TBD</div>

    </div>
</div>