<!DOCTYPE html>
<html lang="en" ng-app="lend">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>slickrent</title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">
    <link href="css/slickrent.css" rel="stylesheet">
    <link href="css/lend.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">
        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Slickrent</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li><a href="index.html">Home</a></li>
                            <li class="active"><a href="#">Lend</a></li>
                            <li><a href="borrow.html">Borrow</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover" ng-controller = "uploadController">
                <br /><br />
                <h1 class="cover-heading">lend your tool</h1>
                <br /><br />

                <div ng-show="uploadSuccess" ng-cloak class="alert alert-success alert-dismissible" role="alert">Your item has been uploaded!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <form class="form-horizontal" name="itemForm" >
                    <div class="form-group">
                        <label for="itemName" class="col-md-2 control-label">Name:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="itemName" placeholder="name" name="name" ng-model="item.name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="itemDescription" class="col-md-2 control-label">Description:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="itemDescription" placeholder="description" name="description" ng-model="item.description" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="itemPrice" class="col-md-2 control-label">Price/Hour (USD$):</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="itemPrice" placeholder="price" name="price" ng-model="item.price" required>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="rentalStartTime" class="col-md-2 control-label">rental start:</label>
                        <div class="col-md-10">
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">
                                    <div class="input-group"><input  id="rentalStartTime" type="text" class="form-control" data-ng-model="item.rentalStart" required>
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="item.rentalStart" data-datetimepicker-config="{ dropdownSelector: '#dropdown1', minView: 'hour' }"/>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="rentalEndTime" class="col-md-2 control-label">rental end: </label>
                        <div class="col-md-10">
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                                    <div class="input-group"><input  id="rentalEndTime" type="text" class="form-control" data-ng-model="item.rentalEnd" required>
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="item.rentalEnd" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', minView: 'hour'}"/>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="itemImage" class="col-md-2 control-label">Image:</label>
                        <div class="col-md-10">
                            <input type="file" id="itemImage" name="image" file-model="item.image" required>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-8 col-md-4"><input type="submit" class="btn btn-primary btn-block" ng-click="uploadItem(item)" value="Upload" /></div>
                    </div>


                </form>

            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Slickrent.</p>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>

<script src="js/lend.js"></script>

</body>
</html>
